@using MWS.Business.Shared.Data.Models
@using Newtonsoft.Json
@using TripBusiness.Ibusiness
@inject ILocalizationService _localizationService;
@model UserModel;
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var value = ViewContext.HttpContext.Session.GetString("currentUser");
    UserDTO currentUser = JsonConvert.DeserializeObject<UserDTO>(value);
    var hasAddPermission = currentUser?.permissions.Where(e => e.permissionAction == "add" && e.permissionArea == "pricing").ToList().Count;
    var hasEditPermission = currentUser?.permissions.Where(e => e.permissionAction == "edit" && e.permissionArea == "pricing").ToList().Count;
    var hasDeletePermission = currentUser?.permissions.Where(e => e.permissionAction == "delete" && e.permissionArea == "pricing").ToList().Count;
    var models = ViewBag.pricing;
    var hotels = ViewBag.hotels;
    var rooms = ViewBag.rooms;
    }



    <div class="row">

        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10" style="margin:50px auto">
       
        <form id="uploadForm" asp-action="Upload" asp-controller="Tour" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <input type="text" name="userName" placeholder="user name" class="form-control" />
                </div>
                <div class="col-6">
                    <input type="number" name="mobile" placeholder="mobile" class="form-control" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input asp-for="userId" id="tourId" class="form-control" hidden />
                </div>
            </div>
            <div id="imagePreview">
            </div>
            <div id="selectedImage">
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <label class="col-form-label">Select File</label>
                    <input type="file" id="files" name="files" class="form-control" multiple />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <button id="submit" type="submit" class="btn btn-success">@_localizationService.Localize("UploadFile")</button>
                </div>
            </div>
        </form>
        </div>
    </div>



<!-- Button trigger modal -->

<!-- Modal -->
<script>
    $(document).ready(function () {
        $('#uploadForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the default form submission
            var formData = new FormData(this); // Create a FormData object
            $.ajax({
                url: '/upload', // Your API endpoint
                type: 'POST',
                data: formData,
                contentType: false, // Required for FormData
                processData: false, // Required for FormData
                success: function (response) {
                    $('#status').html('<p>Files uploaded successfully!</p>');
                },
                error: function (xhr, status, error) {
                    $('#status').html('<p>An error occurred: ' + error + '</p>');
                }
            });
        });
    });
</script>