@model List<MWS.Data.Entities.Attachment>;
@{
    var tours = ViewBag.tours;
    var blogs = ViewBag.blogs;
    var whyChooseUs = ViewBag.whyChooseUs;
    var toursAttachments = ViewBag.toursAttachments;
}
<!-- Start wrapper-->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!--  section  -->
        <section class="hero-section hero-section_dec" data-scrollax-parent="true">
            <div class="bg-wrap">
                <div class="bg par-elem " data-bg="img/14.jpg" data-scrollax="properties: { translateY: '30%' }" style="background-image: url(&quot;./img/14.jpg&quot;); transform: translateZ(0px) translateY(25.8241%);"></div>
            </div>
            <div class="overlay"></div>
            <video autoplay muted loop playsinline>
                <source src="./images/4596386-hd_1920_1080_25fps.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="container">
                <div class="hero-title hero-title_small">
                    <h4>Photographer Platform</h4>
                    <h2>
                        Find The Photographer You Need  <br>
                        Using Our Platform
                    </h2>
                </div>
                <div class="main-search-input-wrap">
                    <div class="main-search-input fl-wrap">
                        <div class="main-search-input-item">
                            <input type="text" placeholder="What are you looking for?" value="">
                        </div>
                        <div class="main-search-input-item">
                            <select data-placeholder="All Categories" class="chosen-select no-search-select" style="display: none;">
                                <option>All Statuses</option>
                                <option>For Rent</option>
                                <option>For Sale</option>
                            </select>
                            <div class="nice-select chosen-select no-search-select" tabindex="0">
                                <span class="current">All Statuses</span>
                                <i class="fa fa-caret-down"></i>
                                <div class="nice-select-search-box">
                                    <input type="text" class="nice-select-search" placeholder="Search...">
                                </div>
                                <ul class="list">
                                    <li data-value="All Statuses" class="option selected">All Statuses</li>
                                    <li data-value="For Rent" class="option">For Rent</li>
                                    <li data-value="For Sale" class="option">For Sale</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-search-input-item">
                            <select data-placeholder="All Categories" class="chosen-select" style="display: none;">
                                <option>All Cities</option>
                                <option>New York</option>
                                <option>London</option>
                                <option>Paris</option>
                                <option>Kiev</option>
                                <option>Moscow</option>
                                <option>Dubai</option>
                                <option>Rome</option>
                                <option>Beijing</option>
                            </select>
                            <div class="nice-select chosen-select no-search-select" tabindex="0">
                                <span class="current">All Cities</span>
                                <i class="fa fa-caret-down"></i>
                                <div class="nice-select-search-box">
                                    <input type="text" class="nice-select-search" placeholder="Search...">
                                </div>
                                <ul class="list">
                                    <li data-value="All Cities" class="option selected">All Cities</li>
                                    <li data-value="New York" class="option">New York</li>
                                    <li data-value="London" class="option">London</li>
                                    <li data-value="Paris" class="option">Paris</li>
                                    <li data-value="Kiev" class="option">Kiev</li>
                                    <li data-value="Moscow" class="option">Moscow</li>
                                    <li data-value="Dubai" class="option">Dubai</li>
                                    <li data-value="Rome" class="option">Rome</li>
                                    <li data-value="Beijing" class="option">Beijing</li>
                                </ul>
                            </div>
                        </div>
                        <button class="main-search-button color-bg" onclick="window.location.href='listing.html'">  Search <i class="fa fa-search"></i> </button>
                    </div>
                </div>
                <div class="hero-notifer fl-wrap">Need more search options? <a href="listing.html">Advanced Search</a> </div>
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                    <span>Scroll Down To Discover</span>
                </div>
            </div>
        </section>
        <!--  section  end-->
    </div>
    <!-- content end -->
</div>
<!-- End wrapper -->
<!-- Start categories Section -->
<section>
    <div class="blog-section section">
        
        <div class="container py-5">
            <div class="buttons filter-buttons" style="margin-bottom:20px;">
                <button  class="active" data-filter="*">All</button>
                <button data-filter=".Wedding">Wedding</button>
                <button data-filter=".Graduation">Graduation</button>
                <button data-filter=".Birthday">Birthday</button>
                <button data-filter=".Sports">Sports</button>
            </div>
            <div class="row g-4 grid">
                <!-- Blog Post 1 -->
                <div class="col-md-3 grid-item Wedding">
                    <div class="card blog-card">
                        <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                        <div class="card-body">
                            <h5 class="card-title">How to Use Our Software</h5>
                            <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                            <a href="#" class="stretched-link">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 grid-item Wedding">
                    <div class="card blog-card">
                        <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                        <div class="card-body">
                            <h5 class="card-title">How to Use Our Software</h5>
                            <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                            <a href="#" class="stretched-link">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 grid-item Birthday">
                    <div class="card blog-card">
                        <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                        <div class="card-body">
                            <h5 class="card-title">How to Use Our Software</h5>
                            <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                            <a href="#" class="stretched-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item Birthday">
                    <div class="card blog-card">
                        <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                        <div class="card-body">
                            <h5 class="card-title">How to Use Our Software</h5>
                            <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                            <a href="#" class="stretched-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item Birthday">
                    <div class="card blog-card">
                        <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                        <div class="card-body">
                            <h5 class="card-title">How to Use Our Software</h5>
                            <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                            <a href="#" class="stretched-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item Sports">
                    <div class="card blog-card">
                        <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                        <div class="card-body">
                            <h5 class="card-title">How to Use Our Software</h5>
                            <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                            <a href="#" class="stretched-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item Sports">
                    <div class="card blog-card">
                        <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                        <div class="card-body">
                            <h5 class="card-title">How to Use Our Software</h5>
                            <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                            <a href="#" class="stretched-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End categories Section -->

<!--Start owl carousel -->
<section>
    <div class="container">
        <div class="owl-carousel owl-theme section">
            <div class="item">
                <div class="card tour-card">
                    <img src="images/header-lap-carousel.webp" class="card-img-top" alt="Tour 1" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Mountain Adventure</h5>
                        <p class="card-text">Explore the beautiful mountains and enjoy breathtaking views.</p>
                        <a href="#" class="btn btn-read-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card tour-card">
                    <img src="images/header-office-carousel.webp" class="card-img-top" alt="Tour 1" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Mountain Adventure</h5>
                        <p class="card-text">Explore the beautiful mountains and enjoy breathtaking views.</p>
                        <a href="#" class="btn btn-read-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card tour-card">
                    <img src="images/header-person-carousel.webp" class="card-img-top" alt="Tour 1" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Mountain Adventure</h5>
                        <p class="card-text">Explore the beautiful mountains and enjoy breathtaking views.</p>
                        <a href="#" class="btn btn-read-more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End owl carousel -->
<!--Start flib -->
<section>
    <div class="card-container section">
        <!-- Card 1 -->
        <div class="card">
            <div class="front">
                <img src="images/header-person-carousel.webp" alt="Web Development" loading="lazy" />
                <h3>Web Development</h3> <!-- Text appears on top of the image -->
            </div>
            <div class="back">
                <h3>Advanced Coding</h3>
                <p>We specialize in creating responsive and scalable websites.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="front">
                <img src="images/header-office-carousel.webp" alt="Mobile Apps" loading="lazy" />
                <h3>Mobile Apps</h3> <!-- Text appears on top of the image -->
            </div>
            <div class="back">
                <h3>iOS & Android</h3><br>
                <p>Developing seamless mobile experiences on multiple platforms.</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <div class="front">
                <img src="images/header-lap-carousel.webp" alt="UI/UX Design" loading="lazy" />
                <h3>UI/UX Design</h3> <!-- Text appears on top of the image -->
            </div>
            <div class="back">
                <h3>Creative Design</h3>
                <p>Designing user-friendly and visually appealing interfaces.</p>
            </div>
        </div>
    </div>
</section>
<!--End flib -->
<!-- Start Blog Section -->
<section>
    <div class="blog-section section">
        <div class="container py-5">
            <h2 class="text-center mb-5">What's New</h2>

            <div class="row g-4">
                @foreach (var blog in blogs)
                {
                    @if (Model.Where(e => e.elementId == blog.blogId).ToList().Count > 0)
                    {
                        var mainImage = Model.Where(e => e.elementId == blog.blogId && e.type == "blog").ToList();
                        
                        if(mainImage.Count > 0)
                        {
                            <div class="col-md-3">
                                <div class="card blog-card">
                                    <img src="Files/@mainImage[0].attachmentPath" class="card-img-top" alt="Blog Post 1" loading="lazy" />
                                    <div class="card-body">
                                        <h5 class="card-title">How to Use Our Software</h5>
                                        <p class="card-text">Learn how to get started with our software demo. Discover all its features and functionalities...</p>
                                        <a href="#" class="stretched-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <div class="card blog-card">
                                    <img src="images/header-office-carousel.webp" class="card-img-top" alt="Blog Post 2" loading="lazy" />
                                    <div class="card-body">
                                        <h5 class="card-title">Software Demo: Features Overview</h5>
                                        <p class="card-text">Take a deep dive into the features of our software. See how it can improve your workflow and productivity...</p>
                                        <a href="#" class="stretched-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- End Blog Section -->
<!--Start contact form -->
<section>
    <div class="form-container section">
        <div class="form-background">
            <form class="form">
                <h2>Contact Us</h2>
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your full name" required>

                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="message">Message</label>
                <textarea id="message" name="message" rows="4" placeholder="Your message..." required></textarea>

                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
</section>
<!--End contact form -->