@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">hello from admin</a>.</p>
</div>

