@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!--Start image section-->
<div  class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="animated fadeInDown">
        <img src="~/images/16599949550wiki1.jpg" style="width:100%;background-repeat:no-repeat;background-size:cover;height:65vh;"/>
    </div>
</div>
<div class="container relative" style="margin:50px 0px;">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6 relative">
       
        <div class="md:col-span-12">
            <div class="lg:ms-12">
                <h3 class="mb-12 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Cancellation:</h3>
                <p class="lg:ms-12">
                    Cancellation requests should be sent via fax or emailed to provide the Company with written confirmation that your reservation should be cancelled.<br>
                    In case you cancel your trip, the following scale of charges will be applied:
                </p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
    });
    function viewcontact(id,name) {
        $(".modal-body #contactId").val(id);
        $(".modal-body #contactName").val(name);
        }
</script>