@using TripBusiness.Ibusiness
@model List<MWS.Data.Entities.TourAttachment>;
@inject ILocalizationService _localizationService;
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_layout.cshtml";
    var abouts = ViewBag.abouts;
}
<!--Start image section-->
<div  class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="animated fadeInDown">
        <img alt="about Us" src="~/images/about-us.jpg" style="width:100%;background-repeat:no-repeat;background-size:cover;height:90vh;"/>
        <div class="overlaySlider"></div>
    </div>
</div>
<div class="container relative" style="margin:50px 0px;">
    @foreach (var about in abouts)
    {
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6 relative" >
        <div class="md:col-span-6">
            <div class="lg:ms-8">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">@Html.Raw(about.title)</h3>
                    <p style="color: #000 !important;">@Html.Raw(about.subject)</p>
            </div>
        </div>
            @if (Model.Where(e => e.tourId == about.aboutId && e.type == "aboutus").ToList().Count > 0)
            {
                var mainImage = Model.Where(e => e.tourId == about.aboutId && e.type == "aboutus").ToList();
                <div class="md:col-span-6">
                    <img style="height:400px;width:100%;margin-top: 15px;" src="~/Files/@mainImage[0].attachmentPath" alt="@about.title" />
                </div>
            }
        
    </div>
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
    });
    function viewcontact(id,name) {
        $(".modal-body #contactId").val(id);
        $(".modal-body #contactName").val(name);
        }
</script>