@using TripBusiness.Ibusiness
@inject ILocalizationService _localizationService;
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3" style="margin: 60px auto; border: 1px solid #eee; padding: 50px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    @using (Html.BeginForm("changePassword", "admin", FormMethod.Post))
    {
            <div class="mb-3">
                <label class="form-label" for="username">
                @_localizationService.Localize("OldPassword")
                </label>
                <input type="password" id="oldPassword" class="form-control" />
            <span id="oldPasswordRequired" style="color:red"></span>
        </div>

            <div class="mb-3">
                <label class="form-label" for="password">
                @_localizationService.Localize("NewPassword")
                </label>
                <input type="password" id="newPassword" class="form-control" />
            <span id="newPasswordRequired" style="color:red"></span>
        </div>
            <div>
                <div class="d-grid">
                <button type="submit" class="btn btn-primary" id="formBtn">@_localizationService.Localize("Save")</button>
                </div>
                <div class="d-md-flex justify-content-between mt-4">
                </div>
            </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#formBtn').on("click", function (e) {
            if ($("#oldPassword").val() == '') {
                $("#oldPasswordRequired").text("required");
                return false;
            } else {
                $("#oldPasswordRequired").text("");
            }
            if ($("#newPassword").val() == '') {
                $("#newPasswordRequired").text("required");
                return false;
            } else {
                $("#newPasswordRequired").text("");
            }
            e.preventDefault();
            var model = {};
            model.oldPassword = $("#oldPassword").val();
            model.newPassword = $("#newPassword").val();
                $.ajax({
                url: "/admin/ChangePassword",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(model),
                success: function (data) {
                    if (data.status == true) {
                        Swal.fire({
                            title: data.title,
                            text: data.message,
                            icon: "success",
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        Swal.fire({
                            title: data.title,
                            text: data.message,
                            icon: "error",
                            timer: 1500
                        });
                    }
                    },
                    error: function (error) {
                        console.log("e");
                    }
                });
        });
    });
    </script>

